<section class="section static static-main" id="about">
    <div class="cover text-center">
        <h1 class="cover-text text-shadow-main">Skills</h1>
    </div>
</section>

<section class="section parallax bg-about">
    <div class="container-fluid">
        <div class="card card-about">
            <div class="avatar">
                <img src="img/kat.jpg" alt="Kat" />
            </div>
            <div>
                <div class="row justify-content-center">
                    <img class="skill-icon" src="img/html.png" alt="HTML" />
                    <img class="skill-icon" src="img/CSS.jpg" alt="CSS" />
                    <img class="skill-icon" src="img/js.png" alt="JavaScript" />
                    <img class="skill-icon" src="img/java.jpg" alt="Java" />

                    <img class="skill-icon" src="img/bootstrap.png" alt="Bootstrap" />
                    <img class="skill-icon" src="img/jquery.png" alt="jQuery" />
                    <img class="skill-icon" src="img/react.png" alt="React" />
                    <img class="skill-icon" src="img/redux.png" alt="Redux" />

                    <img class="skill-icon" src="img/node.png" alt="Node.js" />
                    <img class="skill-icon" src="img/spring.png" alt="Spring Boot" />
                    <img class="skill-icon" src="img/apache.png" alt="Apache" />
                    <img class="skill-icon" src="img/tomcat.png" alt="Tomcat" />

                    <img class="skill-icon" src="img/gcp.png" alt="Google Cloud Platform" />
                    <img class="skill-icon" src="img/aws.png" alt="Amazon Web Services" />
                    <img class="skill-icon" src="img/firebase.png" alt="Firebase" />
                    <img class="skill-icon" src="img/vultr.png" alt="Vultr" />

                    <img class="skill-icon" src="img/mongo.png" alt="MongoDB" />
                    <img class="skill-icon" src="img/mysql.png" alt="MySQL" />
                    <img class="skill-icon" src="img/git.png" alt="Git" />
                    <img class="skill-icon" src="img/github.png" alt="Github" />

                    <img class="skill-icon" src="img/windows.png" alt="Windows" />
                    <img class="skill-icon" src="img/apple.png" alt="MacOS" />
                    <img class="skill-icon" src="img/linux.png" alt="Linux" />
                    <img class="skill-icon" src="img/ubuntu.png" alt="Ubuntu" />

                    <img class="skill-icon" src="img/vscode.png" alt="VS Code" />
                    <img class="skill-icon" src="img/jetbrains.png" alt="JetBrains" />
                    <img class="skill-icon" src="img/bash.png" alt="Bash" />
                    <img class="skill-icon" src="img/cmder.png" alt="Cmder" />

                    <img class="skill-icon" src="img/letsencrypt.png" alt="Let's Encrypt" />
                </div>
                <div class="row">

                </div>
                <div class="row">

                </div>
            </div>
        </div>
    </div>
</section>