<section class="section static static-main" id="about">
    <div class="cover text-center">
        <h1 class="cover-text text-shadow-main">About Kat</h1>
    </div>
</section>

<section class="section parallax bg-about">
    <div class="container-fluid">
        <div class="card card-about">
            <div class="avatar">
                <img src="img/kat.jpg" alt="Kat" />
            </div>
            <ul class="nav nav-tabs nav-fill" id="aboutTabs" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" id="curiosity-tab" data-toggle="tab" href="#curiosity" role="tab" aria-controls="curiosity" aria-selected="true">Curiosity</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="selfTaught-tab" data-toggle="tab" href="#selfTaught" role="tab" aria-controls="selfTaught" aria-selected="false">Self-Taught</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="learner-tab" data-toggle="tab" href="#learner" role="tab" aria-controls="learner" aria-selected="false">Learner</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="ui-tab" data-toggle="tab" href="#ui" role="tab" aria-controls="ui" aria-selected="false">UI/UX</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="logic-tab" data-toggle="tab" href="#logic" role="tab" aria-controls="logic" aria-selected="false">Logic</a>
                </li>
            </ul>
            <div class="tab-content text-center p-3" id="aboutTabContent">
                <div class="tab-pane fade show active" id="curiosity" role="tabpanel" aria-labelledby="curiosity-tab">
                    Kat's been fascinated with computers, technology, and science since she was a young child.
                </div>
                <div class="tab-pane fade" id="selfTaught" role="tabpanel" aria-labelledby="selfTaught-tab">
                    She learned most of what she knows about computers and coding from exploring and experimenting
                    on her own, reading technical documentation and forums, going through guides and tutorials,
                    troubleshooting, problem-solving, critical thinking, and tons of trial-and-error.
                </div>
                <div class="tab-pane fade" id="learner" role="tabpanel" aria-labelledby="learner-tab">
                    She's an extremely <i>kinesthetic and visual</i> learner. She learns best from getting
                    hands-on experience, tackling new challenges, working on real-world projects, seeing visual
                    data, and understanding the <i>"why?"</i> of things.
                </div>
                <div class="tab-pane fade" id="ui" role="tabpanel" aria-labelledby="ui-tab">
                    She has an eye for <i>detail and presentation</i>, making her an ideal candidate for UI/UX design.
                    She envisions how users will interact with with an interface and designs it to be user-friendly and
                    aesthetically appealing.
                </div>
                <div class="tab-pane fade" id="logic" role="tabpanel" aria-labelledby="logic-tab">
                    She also loves <i>logic, efficiency, and organization</i>, making her an ideal candidate for
                    logical programming and process optimization.
                </div>
            </div>
        </div>
    </div>
</section>