<section class="section static static-main" id="skills">
    <div class="cover text-center">
        <h1 class="cover-text text-shadow-main">Skills</h1>
    </div>
</section>

<section class="section parallax bg-about">
    <div class="container-fluid">
        <div class="card card-about">
            <div class="avatar">
                <img src="img/kat.jpg" alt="Kat" />
            </div>
            <div>
                <div class="row justify-content-center">
                    <a href="https://developer.mozilla.org/en-US/docs/Web/HTML" rel="nofollow" target="_blank">
                        <img class="skill-icon" src="img/html.png" alt="HTML" data-toggle="tooltip" data-placement="top" title="HTML"/>
                    </a>
                    <a href="https://developer.mozilla.org/en-US/docs/Web/CSS" rel="nofollow" target="_blank">
                        <img class="skill-icon" src="img/CSS.jpg" alt="CSS" data-toggle="tooltip" data-placement="top" title="CSS"/>
                    </a>
                    <a href="https://developer.mozilla.org/en-US/docs/Web/JavaScript" rel="nofollow" target="_blank">
                        <img class="skill-icon" src="img/js.png" alt="JavaScript" data-toggle="tooltip" data-placement="top" title="JavaScript"/>
                    </a>
                    <a href="https://www.oracle.com/java/" rel="nofollow" target="_blank">
                        <img class="skill-icon" src="img/java.jpg" alt="Java" data-toggle="tooltip" data-placement="top" title="Java"/>
                    </a>

                    <a href="https://getbootstrap.com/" rel="nofollow" target="_blank">
                        <img class="skill-icon" src="img/bootstrap.png" alt="Bootstrap" data-toggle="tooltip" data-placement="top" title="Bootstrap"/>
                    </a>
                    <a href="https://jquery.com/" rel="nofollow" target="_blank">
                        <img class="skill-icon" src="img/jquery.png" alt="jQuery" data-toggle="tooltip" data-placement="top" title="jQuery"/>
                    </a>
                    <a href="https://reactjs.org/" rel="nofollow" target="_blank">
                        <img class="skill-icon" src="img/react.png" alt="React" data-toggle="tooltip" data-placement="top" title="React"/>
                    </a>
                    <a href="https://redux.js.org/" rel="nofollow" target="_blank">
                        <img class="skill-icon" src="img/redux.png" alt="Redux" data-toggle="tooltip" data-placement="top" title="Redux"/>
                    </a>

                    <a href="https://nodejs.org/" rel="nofollow" target="_blank">
                        <img class="skill-icon" src="img/node.png" alt="Node.js" data-toggle="tooltip" data-placement="top" title="Node.js"/>
                    </a>
                    <a href="https://spring.io/" rel="nofollow" target="_blank">
                        <img class="skill-icon" src="img/spring.png" alt="Spring Boot" data-toggle="tooltip" data-placement="top" title="Spring Boot"/>
                    </a>
                    <a href="https://httpd.apache.org/" rel="nofollow" target="_blank">
                        <img class="skill-icon" src="img/apache.png" alt="Apache" data-toggle="tooltip" data-placement="top" title="Apache"/>
                    </a>
                    <a href="https://tomcat.apache.org/" rel="nofollow" target="_blank">
                        <img class="skill-icon" src="img/tomcat.png" alt="Tomcat" data-toggle="tooltip" data-placement="top" title="Tomcat"/>
                    </a>

                    <a href="https://cloud.google.com/" rel="nofollow" target="_blank">
                        <img class="skill-icon" src="img/gcp.png" alt="Google Cloud Platform" data-toggle="tooltip" data-placement="top" title="Google Cloud Platform"/>
                    </a>
                    <a href="https://aws.amazon.com/" rel="nofollow" target="_blank">
                        <img class="skill-icon" src="img/aws.png" alt="Amazon Web Services" data-toggle="tooltip" data-placement="top" title="Amazon Web Services"/>
                    </a>
                    <a href="https://firebase.google.com/" rel="nofollow" target="_blank">
                        <img class="skill-icon" src="img/firebase.png" alt="Firebase" data-toggle="tooltip" data-placement="top" title="Firebase"/>
                    </a>
                    <a href="https://www.vultr.com/" rel="nofollow" target="_blank">
                        <img class="skill-icon" src="img/vultr.png" alt="Vultr" data-toggle="tooltip" data-placement="top" title="Vultr"/>
                    </a>

                    <a href="https://www.mongodb.com/" rel="nofollow" target="_blank">
                        <img class="skill-icon" src="img/mongo.png" alt="MongoDB" data-toggle="tooltip" data-placement="top" title="MongoDB"/>
                    </a>
                    <a href="https://www.mysql.com/" rel="nofollow" target="_blank">
                        <img class="skill-icon" src="img/mysql.png" alt="MySQL" data-toggle="tooltip" data-placement="top" title="MySQL"/>
                    </a>
                    <a href="https://git-scm.com/" rel="nofollow" target="_blank">
                        <img class="skill-icon" src="img/git.png" alt="Git" data-toggle="tooltip" data-placement="top" title="Git"/>
                    </a>
                    <a href="https://github.com/" rel="nofollow" target="_blank">
                        <img class="skill-icon" src="img/github.png" alt="Github" data-toggle="tooltip" data-placement="top" title="Github"/>
                    </a>

                    <a href="https://www.microsoft.com/en-us/windows/" rel="nofollow" target="_blank">
                        <img class="skill-icon" src="img/windows.png" alt="Windows" data-toggle="tooltip" data-placement="top" title="Windows"/>
                    </a>
                    <a href="https://www.apple.com/macos/" rel="nofollow" target="_blank">
                        <img class="skill-icon" src="img/apple.png" alt="MacOS" data-toggle="tooltip" data-placement="top" title="MacOS"/>
                    </a>
                    <a href="https://www.linux.com/what-is-linux/" rel="nofollow" target="_blank">
                        <img class="skill-icon" src="img/linux.png" alt="Linux" data-toggle="tooltip" data-placement="top" title="Linux"/>
                    </a>
                    <a href="https://ubuntu.com/" rel="nofollow" target="_blank">
                        <img class="skill-icon" src="img/ubuntu.png" alt="Ubuntu" data-toggle="tooltip" data-placement="top" title="Ubuntu"/>
                    </a>

                    <a href="https://code.visualstudio.com/" rel="nofollow" target="_blank">
                        <img class="skill-icon" src="img/vscode.png" alt="VS Code" data-toggle="tooltip" data-placement="top" title="VS Code"/>
                    </a>
                    <a href="https://www.jetbrains.com/" rel="nofollow" target="_blank">
                        <img class="skill-icon" src="img/jetbrains.png" alt="JetBrains" data-toggle="tooltip" data-placement="top" title="JetBrains"/>
                    </a>
                    <a href="https://www.gnu.org/software/bash/" rel="nofollow" target="_blank">
                        <img class="skill-icon" src="img/bash.png" alt="Bash" data-toggle="tooltip" data-placement="top" title="Bash"/>
                    </a>
                    <a href="https://cmder.net/" rel="nofollow" target="_blank">
                        <img class="skill-icon" src="img/cmder.png" alt="Cmder" data-toggle="tooltip" data-placement="top" title="Cmder"/>
                    </a>

                    <a href="https://letsencrypt.org/" rel="nofollow" target="_blank">
                        <img class="skill-icon" src="img/letsencrypt.png" alt="Let's Encrypt" data-toggle="tooltip" data-placement="top" title="Let's Encrypt"/>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>