<section class="section parallax bg-cisd">
    <div class="cover text-center">
        <h1 class="cover-text text-shadow-cisd">Corsicana ISD</h1>
    </div>
</section>

<section class="section static-cisd">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title text-center pb-1" style="border-bottom: 2px solid #f3c02994;">
                Corsicana Independent School District
            </h4>
            <div class="card-text">
                <h5 class="text-center font-weight-bold" style="color: #f3c029e8;">New website for the Corsicana ISD</h5>
                <p class="font-weight-bold mb-0">Some of the technologies/features of the site include:</p>
                <ul>
                    <li>All of the features and technologies of MC History</li>
                    <li>Built with WAI-ARIA accessibility standards in mind</li>
                    <li>Custom iCalendar API built with Biweekly(Java) and FullCalendar(JavaScript)</li>
                    <li>Built with intention of using Spring framework and Thymeleaf templating engine to provide
                    admins with ability to create/edit/delete entire pages and customize their layouts and contents
                    with a wide array of templates and template fragments</li>
                    <li class="list-warning">This website is still under construction. It's a large and complex
                    project that will take time to complete.</li>
                </ul>
            </div>
        </div>
        <div class="card-footer text-center" style="border-top: 2px solid #f3c02994;">
            <a href="https://cisd.org" target="_blank" class="btn icon-btn">
                <img class="icon" src="img/blackboard-icon.png">See the current cisd.org
            </a>
            <a href="https://cisd.kat-grennan.com" target="_blank" class="btn icon-btn">
                <img class="icon" src="img/cisd-icon.png">See my prototype
            </a>
        </div>
    </div>
</section>