<html lang="en" xmlns:th="http://www.thymeleaf.org">

<section class="section parallax bg-cisd">
    <div class="cover text-center">
        <h1 class="cover-text text-shadow-cisd">CISD.org</h1>
    </div>
</section>

<section class="section static-cisd">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title text-center pb-1" style="border-bottom: 2px solid #f3c02994;">
                Corsicana Independent School District
            </h4>
            <div class="card-text">
                <h5 class="text-center font-weight-bold" style="color: #f3c029e8;">New website for the Corsicana ISD</h5>
                <p class="font-weight-bold mb-0">Some of the technologies/features of the site include:</p>
                <ul>
                    <li>All of the features and technologies of MC History</li>
                    <li>Built with WAI-ARIA accessibility standards in mind</li>
                    <li>Custom iCalendar API built with Biweekly(Java) and FullCalendar(JavaScript)</li>
                    <li>The current cisd.org uses a templating engine enabling site admins to create/edit/delete
                    pages and page contents on the site. I intend to implement this with Spring and Thymeleaf.</li>
                    <li class="list-warning">This website is still under construction. It's a large and complex
                    project that will take time to complete.</li>
                </ul>
            </div>
        </div>
        <div class="card-footer" style="border-top: 2px solid #f3c02994;">
            <div class="row justify-content-center">
                <a href="https://cisd.org" target="_blank" class="btn icon-btn col-auto m-1">
                    <div class="icon-container">
                        <img src="img/blackboard-icon.png">
                    </div>
                    See the current cisd.org
                </a>
                <a href="https://cisd.kat-grennan.com" target="_blank" class="btn icon-btn col-auto m-1">
                    <div class="icon-container">
                        <img src="img/cisd-icon.png">
                    </div>
                    See my prototype
                </a>
                <a href="https://github.com/CherryKatatonic/cisd" target="_blank" class="btn icon-btn col-auto m-1">
                    <div class="icon-container">
                        <svg th:replace="fragments/vectors :: github"></svg>
                        <img class="svg-alt" src="img/github.svg">
                    </div>
                    Code Repo
                </a>
            </div>
        </div>
    </div>
</section>