<section class="container-fluid below-static" id="contact">
    <div class="cover text-center mb-5" style="transform: none">
        <h1 class="cover-text text-shadow-main">Contact & Links</h1>
    </div>

    <div class="row w-75 m-auto no-gutters">
        <a href="tel:+1-248-602-1976" target="_blank" class="col-6 col-sm-3 my-2 hover-glow">
            <div class="card card-about">
                <img class="card-img-top" src="img/phone.svg" alt="Phone">
                <h5 class="card-title my-1 text-center">Phone</h5>
            </div>
        </a>
        <a href="mailto:kat@kat-grennan.com" target="_blank" class="col-6 col-sm-3 my-2 hover-glow">
            <div class="card card-about">
                <img class="card-img-top" src="img/email.svg" alt="Email">
                <h5 class="card-title my-1 text-center">Email</h5>
            </div>
        </a>
        <a href="https://github.com/CherryKatatonic/" target="_blank" class="col-6 col-sm-3 my-2 hover-glow">
            <div class="card card-about">
                <img class="card-img-top" src="img/github.svg" alt="Github">
                <h5 class="card-title my-1 text-center">Github</h5>
            </div>
        </a>
        <a href="https://codepen.io/boulderkat/" target="_blank" class="col-6 col-sm-3 my-2 hover-glow">
            <div class="card card-about">
                <img class="card-img-top" src="img/codepen.svg" alt="CodePen">
                <h5 class="card-title my-1 text-center">CodePen</h5>
            </div>
        </a>
    </div>

    <div class="row px-0 m-auto justify-content-center">
        <button class="btn icon-btn col-auto hover-glow text-left m-1"
                data-toggle="popover" data-placement="top" data-content="Copied to Clipboard">
            <div class="icon-container">
                <img src="img/phone.svg" alt="Phone">
            </div>
            +1-248-602-1976
        </button>
        <button class="btn icon-btn col-auto hover-glow text-left m-1"
                data-toggle="popover" data-placement="top" data-content="Copied to Clipboard">
            <div class="icon-container">
                <img src="img/email.svg" alt="Email">
            </div>
            kat@kat-grennan.com
        </button>
        <button class="btn icon-btn col-auto hover-glow text-left m-1" style="font-size: 14px;"
                data-toggle="popover" data-placement="top" data-content="Copied to Clipboard">
            <div class="icon-container">
                <img src="img/github.svg" alt="Github">
            </div>
            github.com/CherryKatatonic
        </button>
        <button class="btn icon-btn col-auto hover-glow text-left m-1"
                data-toggle="popover" data-placement="top" data-content="Copied to Clipboard">
            <div class="icon-container">
                <img src="img/codepen.svg" alt="CodePen">
            </div>
            codepen.io/boulderkat
        </button>
    </div>
</section>
