    <section class="container-fluid below-static" id="contact">
        <div class="cover text-center mb-5" style="transform: none">
            <h1 class="cover-text text-shadow-main">Contact & Links</h1>
        </div>

        <div class="row w-75 m-auto no-gutters">
            <a href="tel:+1-248-602-1976" target="_blank" class="col-6 col-sm-3 my-2 hover-glow">
                <div class="card card-about">
                    <img class="card-img-top" src="img/phone.svg" alt="Phone">
                    <h5 class="card-title my-1 text-center">Phone</h5>
                </div>
            </a>
            <a href="mailto:kat@kat-grennan.com" target="_blank" class="col-6 col-sm-3 my-2 hover-glow">
                <div class="card card-about">
                    <img class="card-img-top" src="img/email.svg" alt="Email">
                    <h5 class="card-title my-1 text-center">Email</h5>
                </div>
            </a>
            <a href="https://codepen.io/boulderkat/" target="_blank" class="col-6 col-sm-3 my-2 hover-glow">
                <div class="card card-about">
                    <img class="card-img-top" src="img/github.svg" alt="Github">
                    <h5 class="card-title my-1 text-center">Github</h5>
                </div>
            </a>
            <a href="https://codepen.io/boulderkat/" target="_blank" class="col-6 col-sm-3 my-2 hover-glow">
                <div class="card card-about">
                    <img class="card-img-top" src="img/codepen.svg" alt="CodePen">
                    <h5 class="card-title my-1 text-center">CodePen</h5>
                </div>
            </a>
        </div>
    </section>

<!--<section class="section static" style="margin-top: -5rem;">

</section>-->
