<head>
    <meta property="og:title" content="KatGrennan.com" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://katgrennan.com" />
    <meta property="og:image" content="http://katgrennan.com/img/portfolio.png" />
    <meta property="og:image:secure" content="https://katgrennan.com/img/portfolio.png" />
    <meta property="og:description" content="Kat is a full-stack developer with experience building software and
    web applications in Java and JavaScript ecosystems.">

    <title>KatGrennan.com</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" type="text/css" href="css/fonts.css">
    <link rel="stylesheet" type="text/css" href="css/bootstrap-4.1.3.min.css">
    <link rel="stylesheet" type="text/css" href="css/styles.css">
</head>