<section class="section parallax bg-mchistory">
    <div class="cover text-center">
        <h1 class="cover-text text-shadow-mchistory">MC History</h1>
    </div>
</section>

<section class="section static-mchistory">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title text-center pb-1" style="border-bottom: 2px solid #6f2d0085;">
                Mitchell County Historical Society
            </h4>
            <div class="card-text">
                <ul>
                    <li>First web development project</li>
                    <li>Some of the technologies/features of the site include:</li>
                    <ul>
                        <li>Responsive UI for mobile browsing</li>
                        <li>Google Datastore API for database operations</li>
                        <li>Google Storage API for file storage/serving</li>
                        <li>Google Domains for domain registration and DNS configuration</li>
                        <li>Mailgun email API for user email verification, tech support requests, password recovery</li>
                        <li>Vultr for server hosting</li>
                        <li>Ability for users to create accounts, edit profile</li>
                        <li>Ability for admin users to create/edit/delete content on the site</li>
                    </ul>
                </ul>
            </div>
        </div>
        <div class="card-footer justify-content-center" style="border-top: 2px solid #6f2d0085;">
            <a href="https://mchistory.net" target="_blank" class="btn btn-mchistory">Visit mchistory.net</a>
        </div>
    </div>
</section>