<nav class="navbar sticky-top navbar-expand-lg py-lg-0">
    <a class="navbar-brand" href="#top">
        <span class="inline v-mid">Kat Grennan</span>
    </a>

    <button class="navbar-toggler" type="button" data-toggle="collapse"
            data-target="#navbar" aria-controls="navbar"
            aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbar">
        <nav class="nav nav-fill w-100">
            <a class="nav-item nav-link" href="#top">Top</a>
            <a class="nav-item nav-link" href="#skills">Skills</a>
            <a class="nav-item nav-link" href="#samples">Samples</a>
<!--            <a class="nav-item nav-link" href="#contact">Contact & Links</a>-->
        </nav>
    </div>
</nav>