<section class="section parallax bg-twiddler">
    <div class="cover text-center">
        <h1 class="cover-text text-shadow-main">Twiddler</h1>
    </div>
</section>

<section class="section static-twiddler">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title text-center text-shadow-main">Twiddler: a simple Twitter mock-up</h4>
            <div class="card-text">
                <ul>
                    <li>Simple single-page Twitter mock-up made with Javascript</li>
                    <li>Some of the features of the mock-up include:
                        <ul>
                            <li>Random twiddle generator to simulate live twiddles</li>
                            <li>Ability to toggle live feed</li>
                            <li>Ability to create a username and start twiddling</li>
                            <li>Ability to filter twiddles by hash tag or user</li>
                        </ul>
                    </li>
                </ul>
            </div>
            <a href="twiddler/index.html" target="_blank" class="btn btn-primary">See Twiddler</a>
        </div>
    </div>
</section>