<section class="section parallax bg-twiddler">
    <div class="cover text-center">
        <h1 class="cover-text text-shadow-main">Twiddler</h1>
    </div>
</section>

<section class="section static static-twiddler">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title text-center pb-1" style="border-bottom: 2px solid #ad65c09e;">
                Twiddler
            </h4>
            <div class="card-text">
                <h6 class="text-center font-weight-bold" style="color: #a258b5;">
                    There are two versions of the mock-up:
                </h6>
                <div class="row justify-content-center">
                    <div class="col-md-6">
                        <h6 class="text-center font-weight-bold" style="color: #a258b5;">
                            Static JavaScript (Original, 2017):
                        </h6>
                        <ul>
                            <li>Mock data generator used to simulate live twiddles</li>
                            <li>Ability to toggle live feed</li>
                            <li>Ability to create a username and start twiddling</li>
                            <li>Ability to filter twiddles by hash tag or user</li>
                        </ul>
                    </div>

                    <div class="col-md-6">
                        <h6 class="text-center font-weight-bold" style="color: #a258b5;">
                            React, Spring Boot, MySQL (Rebuild, 2019):
                        </h6>
                        <ul>
                            <li>React front-end | Mobile responsive | Infinite scrolling</li>
                            <li>Spring Boot REST API with Spring Security</li>
                            <li>Data persistence with MySQL, Hibernate</li>
                        </ul>
                    </div>
                    <!-- <ol>
                        <li>
                            
                        </li>
                        <li>
                            
                        </li>
                    </ol> -->
                </div>
               
            </div>
        </div>
        <div class="card-footer" style="border-top: 2px solid #ad65c09e;">
            <div class="row justify-content-center">
                <a href="/twiddler/index.html" target="_blank" class="btn icon-btn col m-1">
                    <div class="row">
                        <div class="col-md-3 col-4 icon-container">
                            <img src="/twiddler/images/twiddle.jpg">
                        </div>
                        <div class="col-md-9 col-8 text-container">
                            See Original
                        </div>
                    </div>
                </a>
                <a href="https://twiddler.katgrennan.com" target="_blank" class="btn icon-btn col m-1">
                    <div class="row">
                        <div class="col-md-3 col-4 icon-container">
                            <img src="twiddler/images/twiddle.jpg">
                        </div>
                        <div class="col-md-9 col-8 text-container">
                            See Rebuild
                        </div>
                    </div>
                </a>
                <a href="https://github.com/CherryKatatonic/twiddler" target="_blank" class="btn icon-btn col m-1">
                    <div class="row">
                        <div class="col-md-3 col-4 icon-container">
                            <svg th:replace="fragments/vectors :: github"></svg>
                            <img class="svg-alt" src="img/github.svg">
                        </div>
                        <div class="col-md-9 col-8 text-container">
                            Code Repo
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>
