<html lang="en" xmlns:th="http://www.thymeleaf.org">

<section class="section parallax bg-twiddler">
    <div class="cover text-center">
        <h1 class="cover-text text-shadow-main">Twiddler</h1>
    </div>
</section>

<section class="section static-twiddler">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title text-center pb-1" style="border-bottom: 2px solid #ad65c09e;">
                Twiddler
            </h4>
            <div class="card-text">
                <h5 class="text-center font-weight-bold">A simple Twitter mock-up made with Javascript</h5>
                <p class="font-weight-bold mb-0" style="color: #a258b5;">Some of the features of the mock-up include:</p>
                <ul>
                    <li>Random twiddle generator to simulate live twiddles</li>
                    <li>Ability to toggle live feed</li>
                    <li>Ability to create a username and start twiddling</li>
                    <li>Ability to filter twiddles by hash tag or user</li>
                    <li class="list-warning">This mock-up was not built with responsive web design
                    principles. It is not yet mobile-friendly.</li>
                </ul>
            </div>
        </div>
        <div class="card-footer text-center" style="border-top: 2px solid #ad65c09e;">
            <a href="twiddler/index.html" target="_blank" class="btn icon-btn">
                <div class="icon-container">
                    <img src="twiddler/twiddle.jpg">
                </div>
                See Twiddler
            </a>
            <a href="https://github.com/CherryKatatonic/twiddler" target="_blank" class="btn icon-btn">
                <div class="icon-container">
                    <svg th:replace="fragments/vectors :: github"></svg>
                    <img class="svg-alt" src="img/github.svg">
                </div>
                Code Repo
            </a>
        </div>
    </div>
</section>